conda==4.7.12
conda-build==3.18.9
conda-package-handling==1.6.0
conda-verify==3.4.2
Flask==1.1.1
Flask-WTF==0.14.3
google==3.0.0
google-api-core==1.22.2
google-auth==1.21.1
google-auth-oauthlib==0.4.1
google-cloud==0.34.0
google-cloud-vision==1.0.0
googleapis-common-protos==1.52.0
googletransx==2.4.2
gunicorn==20.0.4
idna==2.8
json5==0.8.5
jsonschema==3.0.2
spotify==0.10.2
spotipy==2.13.0