/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
	font-family: 'Roboto', sans-serif;
	color: #f6f6f6;
  }
  
  a {
	color: #18d26e;
	font-weight: bold;
  }
  
  a:hover {
	color: #00ff77;
	text-decoration: none;
  }
  
  p a:hover {
	color: #00ff77;
	text-decoration: underline;
  }
  
  h1, h2, h3, h4, h5, h6 {
	font-family: "Raleway", sans-serif;
  }
  
  body{
	background: rgb(17, 17, 17);
  }
  
  ::-moz-selection { 
	color: black;
	background: #18d26e;
	border-radius: 1rem;
  }
  
  ::selection {
	color: black;
	background: #18d26e;
	border-radius: 1rem;
  }

#container {
	margin: 0px auto;
	width: 500px;
	height: 375px;
	border: 10px #333 solid;
}
#videoElement {
	width: 500px;
	height: 375px;
	background-color: #666;
}