<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mood Matcher</title>
    <script src="http://hongru.github.io/proj/canvas2image/canvas2image.js"></script>
</head>
<body>

    <div id="video wrap">
        <video id= "video" playsinline autoplay></video>
    </div>

    <div id= "controller">
        <button id= "snap"> Capture</button>
    </div>

    <canvas id= "canvas" width="640" height="400"></canvas>

    <div id="generate">
        <form action="/feedback">
            <input type="text" id="text" name="emot">
            <button>Generate Playlist</button>
        </form>
    </div>

<script>

    'use strict';

    const video = document.getElementById('video');
    const canvas = document.getElementById('canvas');
    const snap = document.getElementById('snap');
    const errorMsgElement = document.getElementById('span#ErrorMsg');

    const constraints = {
        audio: false,
        video: {
            width: 640, height: 400
        }
    };

async function init(){
    try{
        const stream = await navigator.mediaDevices.getUserMedia(constraints);
        handleSuccess(stream);
    }
    catch(e){
        errorMsgElement.innerHTML = `navigator.getUserMedia.error:${e.toString()}`;
    }
}

function handleSuccess(stream){
    window.stream = stream;
    video.srcObject = stream;
}

init();

var context = canvas.getContext('2d');
snap.addEventListener("click", function(){
    context.drawImage(video, 0, 0, 640, 400);
    var dataURL = canvas.toDataURL();
    document.getElementById("text").value = dataURL;

});



</script>
</body>
</html>