html{
	scroll-behavior: smooth;
	scroll-padding-top: 25px;
}
  
::-moz-selection { 
	color: #191414;
	background: #2fd669;
}
	
::selection {
	color: #191414;
	background: #2fd669;
}

body{
	background-color: rgb(17, 17, 17);
}

div {
	transition-delay: 2s;
	margin: auto;
}
  
h1{
	font-size: 320%;
	font-size: bold;
	color: #e9e9e9;
  }

h2, h3, h4, h5 {
	color: #b4b4b4;
}

p{
	margin: 0;
	color: #b4b4b4;
}
  
/* unvisited link */
a:link {
	color: #1DB954;
	text-decoration: none;
}
  
/* visited link */
a:visited {
	color: #1DB954;
	text-decoration: none;
}
  
/* mouse over link */
a:hover {
	color: #0deb5a;
	text-decoration: none;
}
  
/* selected link */
a:active {
	color: #0deb5a;
	text-decoration: none;
}
  
button {
	background-color: #4CAF50; /* Green */
	border-radius: 10px;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
  }

.graph{
	border-radius: 5%;
	margin: .5%;
	width: 70%;
}
  
.box {
	width: 80%;
	border-radius: 15%;
	background-color: rgb(24, 24, 24);
	text-align: center;
	padding: 2% 10%;
	margin-top: 1%;
}

footer{
	text-align: center;
	margin: 1rem;
  }
  
  footer p{
	margin: 0;
  }

#container {
	margin: 0px auto;
	width: 500px;
	height: 375px;
	border: 10px #333 solid;
}
#videoElement {
	width: 100%;
	height: 375px;
	background-color: #666;
	border: 10px black solid;
	border-radius: 5pt;
}